<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="event">
      <h3>{{event.name}}</h3>
      <br/>
      <p>Start time: {{event.startDate | date}}</p>
      <p>Finish time: {{event.finishDate | date}}</p>
      <p>Place: {{event.place.name}}</p>
      <h4>Address</h4>
      <p>Country: {{event.place.country}}</p>
      <p>City: {{event.place.city}}</p>
      <p>Address: {{event.place.street}} str - {{event.place.number}}</p>

      <mat-tab-group>
        <mat-tab label="Comments">
          <div class="tab-content">
            <h4>Comments</h4>
            <div class="comments" id="commentTab">
              <div *ngFor="let comment of comments">
                <div>
                  <h6>{{comment.user.username}}</h6>
                  <p>Rating: {{comment.rating}}</p>
                  <p>{{comment.text}}</p>
                  <div *ngFor="let x of comment.file">
                      <img src="./assets/img/{{x.filename}}" alt="" height="100" width="100">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Write comment">
          <form enctype="multipart/form-data" (ngSubmit)="saveComment()">
            <div class="form-group">
              <label for="rating">Rating</label>
              <input [(ngModel)]="comment.rating" name="rating" type="number" min="1" max="5" class="form-control" id="rating" placeholder="Rating">
            </div>
            <div class="form-group">
              <label for="text">Text</label>
              <textarea [(ngModel)]="comment.text" name="rating" class="form-control" id="text" placeholder="Text"></textarea>
            </div>
            <div class="form-group">
              <label for="file">Select images</label>
              <input (change)="onFileChanged($event)" type="file" name="file" id="file" multiple>
            </div>
            <button type="submit" class="btn btn-primary btn-lg" >Add comment</button>
          </form>
        </mat-tab>
      </mat-tab-group>


    </div>
  </div>
</div>
