<main>
  <div class="container">
    <div class="row align-items-center view">
      <div class="col-6 d-flex justify-content-center">
        <div>
          <h2>Sport event explorer</h2>
          <p>Find your favourite sport events!</p>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="d-flex flex-column buttons">
          <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
          <a class="btn btn-primary btn-lg" routerLink="/register" role="button">Register</a>
        </div>
      </div>
    </div>
  </div>
</main>
